.fondo{
    background-color: darkslateblue; 
    margin: 5px 5px 5px 5px;
}
.vertical-center {
    /*Codigo 0% Original*/
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }