<!DOCTYPE HTML>
<!-- 
    Autor: Luis Andrade
    Fecha: 9/08/2021 10:00am
    Proposito: index.html del mini proyecto
-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="estilo.css">
<!--MAIN-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
        <title>MiniProyecto-LuisAndrade</title>
      </head>
<body class="fondo">
    <div class="vertical-center">
        <div class="container" style="background-color: white;border-radius: 5px;margin-top: 5px;">            
            <div class="row mt-5">
                <h1 style="text-align: center;">Proyecto JustClick.Media - Luis Andrade</h1>
            </div>
            <div class="row mb-5" >
                <form th:action="@{/consultar}" th:object="${string}" method="post">
                    <div>
                        <div class="form-group">
                            <label for="buscar"><strong>Busqueda</strong></label>
                            <input type="text" class="form-control"th:field="*{name}">
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Buscar</button>
                    </div>            
                </form>                
            </div>
        </div>        
    </div>        
</body>
</html>